body {
  font-family: var(--fuente-principal);
  background-color: var(--color-fondo);
  color: var(--charcoal);
  line-height: 1.6;
  font-size: 16px;
  overflow-x: hidden;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}
