/* uno */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
/* dos */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
/* logo */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 100%; /* Tamaño de fuente base al 100% */
}

h2 {
  font-size: 2em; /* Tamaño de fuente en relación con la fuente base */
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
p {
  font-size: 2.5rem;
  font-family: "EB Garamond", serif;
}

:root {
  --green: #6fdcbf;
  --black: #404040;
  --purple: #ae8fdb;
  --white: #f6f4f6;
  --white2: #f7f7f7;
  --yellow1: #fef8b4;
  --yellow: #fec34f;
}
.colorsFirt1 {
  background-color: var(--white);
}
.colorsFirt2 {
  background-color: var(--green);
  height: 100vh;
}
.div-text h1 {
  font-size: 3rem;
  width: 50%;
  font-family: "Archivo Black", sans-serif;
}
.colorsfirt3 {
  background-color: var(--purple);
  height: 100vh;
}
.colorsfirt4 {
  background-color: var(--yellow1);
  height: 100vh;
}
.default {
  background-color: var(--purple);
}
.div-defaullt {
  height: 100vh;
  flex-direction: column;
}
.div-defaullt h1 {
  font-family: "Archivo Black", sans-serif;
  font-size: 5rem;
 
}

.div-defaullt a {
  font-family: "Archivo Black", sans-serif;
  font-size: 3rem;
  background-color: var(--yellow1);
  padding: 15px;
  color: #404040;
 
}
