.section-inicio,
.section-experiencia,
.section-galeria,
.section-estudios,
.section-habilidades,
.section-contacto {
  scroll-margin-top: 100px;
  padding-top: 50px;
  min-height: 100vh;
  position: relative;
  width: 100%;
  background-color: #2c2c2c;
  overflow-x: hidden;
}

/* ================
     SECCION INICIO img fondo
  =================== */
.section-inicio {
  background-image: url("../img/fondoIn3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  padding: 20px 20px;
  min-height: 100vh;
  height: auto;
  display: flex;
  align-items: center;
  z-index: 1;
}
.section-inicio::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.section-inicio .container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  min-height: 100vh;
  color: var(--color-fondo-claro);
}

.container-image {
  background-color: var(--color-fondo-claro);
  width: 220px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
/* botones responsivos */
.btn-toggle {
  background-color: var(--color-primario);
  border: none;
  padding: 8px 12px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.btn-toggle i {
  color: white;
}

.btn-toggle:hover {
  background-color: #a53860; /* morado más oscuro */
  transform: scale(1.05);
}

.btn-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(165, 56, 96);
}
/* ================ 
   Sección experiencia 
  =================== */

/* Imagen principal del hero */
.hero-img {
  width: 220px;
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

/* Tablet */
@media (max-width: 992px) {
  .hero-img {
    width: 180px;
  }
}

/* Móvil */
@media (max-width: 576px) {
  .hero-img {
    width: 150px;
  }
}
