/* Estilos generales */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: calc(10px + 0.5vw);
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-fondo);
  color: var(--charcoal);

}




:root {
  --color-fondo: #FBF6E2;
  --mustard-yellow: #E68369;
  --charcoal: #5f5e5d;
  --sky-blue: #fff;
  --mustard-pink: #ECCEAE;

}


.color-text-primary {
  color: var(--mustard-yellow);
}



.content {

  padding: 40px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.section-title {
  height: 50px;
}

/* Grid para proyectos */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

.project-card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-card:nth-child(-n+6) {
  margin-bottom: 20px;
  padding: 20px;

  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;

}

.div-button{
  height: 200px;
  display: flex;
  align-items: center;
  /* background-color: #ECCEAE; */
}

.text-container {
  line-height: 1;
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 20px;
  height: 15vh;
}

.project-title {
  font-size: 1.5rem;
  color: var(--mustard-yellow);
}

.project-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
}

.container-button {
  padding: 0;
  margin-top: 30px;
  margin-bottom: 20px;

}




.imgfondo {
  position: relative;
  background-image: url("../img/compu.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 60vh;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imgfondo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 
  background: rgba(17, 16, 16, 0.7);
  z-index: -1;

}



.icon-link {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  padding: 10px;
  margin-bottom: 8px;
}
/* icons footer */
.icon-link a {
  text-decoration: none;
  color: var(--sky-blue);
  display: grid;
}

.icon-link:hover {
  transform: scale(1.1);

}


.btn-ovalado {
  background-color: var(--mustard-yellow);
  color: var(--color-fondo);
  border-radius: 30px;
  padding: 10px 30px;
  font-weight: 600;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  text-decoration: none;

  border: solid 2px transparent;
}

.btn-ovalado:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
  background-color: var(--mustard-pink);

}