@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: calc(1em + 0.8vw);
}
:root {
  --green2: #55af96;
  --green: #6fdcbf;
  --black: #404040;
  --black2: #040d12;
  --block3: #21242a;
  --gry: #2e353e;
  --purple: #ad8fdb;
  --white: #f6f4f6;
  --white2: #f7f7f7;
  --yellow1: #fef8b4;
  --yellow: #fec34f;
}

/* section de header */
.div-container-header {
  line-height: 2;
}
.div-container-header ul {
  display: flex;
  align-items: center;
  padding: 20px;
}

.div-container-header ul li {
  margin-right: rem;
  border-bottom: solid;
  border-color: transparent;
  transition: all 0.7s ease;
}
.div-container-header ul li a {
  list-style: none;
  text-decoration: none;
  color: var(--black);
  padding: 20px;
  font-family: "Archivo Black", sans-serif;
  font-size: calc(0.4em + 0.4vw);
}

.div-container-header ul li:hover {
  border-bottom: solid;
  border-color: var(--yellow);
  line-height: 1.5;
  display: inline;
  animation: animatedBackground 2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s
    forwards;
}
/* Este es lado blanco */
.colorW {
  background-color: var(--white);
}
/* section img */
.div-container-img {
  width: 70%;
  height: auto;
  background-color: var(--purpl);
}

.div-container-img img {
  font-family: "Archivo Black", sans-serif;
  width: 100%;
  border: 3px solid var(--purple); /* Color del borde */
  box-shadow: 0px 10px 15px rgb(133, 65, 176);
}
.container-name h2 {
  font-weight: bold;
  color: var(--gry);

  font-size: calc(1em + 1vw);
}
.div-container-img h2 {
  margin-top: 10px;
  line-height: 0.4;
  font-size: calc(0.4em + 0.5vw);
  font-family: "Archivo Black", sans-serif;
}
/* bloque texto verde */
.colorG {
  background-color: var(--green);
}
.container-G-text {
  line-height: 2.5;
  width: 50%;
  padding-bottom: 5%;

  font-family: "Archivo Black", sans-serif;
}

.container-G-text h2 {
  /* color: var(--gry); */
  font-family: "Archivo Black", sans-serif;
  font-size: calc(0.6em + 0.8vw);
}

.container-G-text span {
  -webkit-text-stroke: 2px var(--black);
  font-size: calc(0.6em + 0.6vw);
  color: transparent;
  transition: all 0.7s ease;
  text-transform: uppercase;
}
.container-G-text span:hover {
  border-bottom: solid;
  border-color: var(--purple);

  display: inline;
  animation: animatedBackground 2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s
    forwards;
}
/* finish */
.containers {
  /* overflow: hidden; */
  height: 100vh;
  background-color: var(--purple);
}

/* sobre mi */

.div-padre-sobre-mi {
}
.border-color {
  /* border: var(--black2) solid 5px; */
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.div-texto-quien-soy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90vh;

  /* background-color: #f6f4f6; */
  color: var(--black);
  font-family: "Archivo Black", sans-serif;
}

.div-texto-quien-soy p {
  /* background-color: var(--white); */
  /* color: var(--black2); */
}
/* habilidades */

.bacground-yellow {
  background-color: var(--yellow1);
  height: 100vh;
}
.img-fondo {
  background-image: linear-gradient(
      to top,
      rgb(254, 248, 180, 0.5),
      rgb(174, 143, 219, 0.5)
    ),
    url(../img/fondspa.jpg);
  width: 100%; /* Ancho de tu elemento */
  height: 100vh;
  background-size: cover; /* Ajusta la imagen al tamaño del elemento */
  background-repeat: no-repeat;
}

/* animaciones */
.hi {
  font-size: 50px;
  font-family: "Archivo Black", sans-serif;
  color: var(--black);
  animation-duration: 5s;
  animation-name: intro;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes intro {
  from {
    transform: scale(10) rotate(-150deg);
    opacity: 0;
    color: white;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
h2 {
  line-height: 1.5;
  display: inline;
}

.hover {
  line-height: 1.5;
  display: inline;
  background-image: linear-gradient(
    transparent 50%,
    #ae8fdb 50%,
    #fef8b4 85%,
    transparent 85%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  animation: animatedBackground 2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s
    forwards;
}

@keyframes animatedBackground {
  to {
    background-size: 100% 100%;
  }
}
/* link o a */
@keyframes colorAnimation {
  to {
    color: 100% 100%;
  }
}
