/* uno */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
/* dos */

/* logo */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: calc(1em + 0.8vw);
}
p {
  font-family: "EB Garamond", serif;
}
/* css con javascrip */
.change-color a {
  color: #fff;
  font-size: 2rem;
  font-family: "EB Garamond", serif;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}
.portafolio h2 {
  font-family: "EB Garamond", serif;
  font-size: 2rem;
  font-weight: bold;
  color: var(--green);
}
.change-color a:hover,
.change-color a:focus {
  color: var(--green);
}

/* Estilo para la clase "active" en el elemento de navegación */

.change-color a.nav-link.active {
  color: var(--green);
}
/* SCROL */
.navbar {
  background-color: var(--gry);
  transition: background-color 0.3s;
}

/* Estilo del navbar cuando está en la parte superior */
.navbar.navbar-top {
  background-color: transparent;
}

/* Estilo para la clase "active" en el elemento de navegación */
.change-color .nav-link-item.active {
  color: var(--green);
}

/* TERMINA */
/* logo */
.logo {
  font-family: "Satisfy", cursive;
  max-width: 100%;
  margin-top: 20px;
}

.logo h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(0.5em + 0.5vw);
  color: var(--green);
}
.logo span {
  width: 50%;
  background-color: var(--black);
  color: var(--white);
  border: 3px solid var(--green);
  font-size: calc(0.5em + 0.5vw);
  box-shadow: 0px 10px 14px rgb(0, 7, 5);
  border-radius: 50%;
}
/* logo */
:root {
  --green: #26c7b1;
  --black: #040d12;
  --purple: #ae8fdb;
  --white: #f6f4f6;
  --white2: #f2f2f2;
  --block2: #21242a;
  --gry: #2e353e;
}
/* codigo comun */
.imgfondo {
  background-image: linear-gradient(to top, rgb(6, 5, 5), rgba(1, 0, 0, 0.3)),
    url(../img/compu.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* inicio */
.containerImg img {
  border: 3px solid var(--black); /* Color del borde */
  box-shadow: 0px 10px 15px rgb(0, 0, 0);
  width: 100%;
  height: 30vh;
}
.containerInicioText {
  width: 100%;
}
.containerInicioText .h2Developer {
  font-weight: bold;
  color: var(--green);
  font-family: "Archivo Black", sans-serif;
  color: var(--green);
  font-weight: bold;
}

.containerInicioText .h2Skills {
  font-family: "EB Garamond", serif;
  font-size: calc(0.8em + 0.8vw);
}
/* Button the cv */
.divButtonCv .button a {
  padding: 10px 20px;
  background-color: var(--green);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 5px;
  font-size: calc(0.4em + 0.4vw);
  color: var(--gry);
}

.divButtonCv a:hover {
  background-color: var(--white);
  color: var(--black);
  transform: scale(1.05);
}
/* CÓDIGO UNIVERSAL */

.hr {
  color: var(--green);
}
.h3 {
  font-family: "EB Garamond", serif;
}
.t {
  color: var(--green);
}
.titles {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Archivo Black", sans-serif;
  font-size: calc(1em + 1vw);
}
.bordes {
  border-left: 7px solid var(--green);
  padding-left: 8px;
}

/* ABAUT ME */

.div-columna {
  background-color: var(--gry);
}
.imagen2 img {
  width: 70%;

  border: 2px solid var(--black);
  /*Colordelborde*/
  box-shadow: 0px 10px 14px rgba(0, 0, 0.2);
  border-radius: 10px;
}
.punto {
  color: var(--green);
}
.div-containerAbout span {
  font-family: "Archivo Black", sans-serif;
  /* font-size: 2.3rem; */

  font-weight: bold;
}

.div-containerAbout h2 {
  font-family: "Archivo Black", sans-serif;
  color: var(--green);
  font-weight: bold;

  font-size: calc(0.5em + 0.6vw);
}
/* data about */

.div-container-data {
  width: 100%;
}
/* color universy */
.colorGreen {
  color: var(--green);
  font-weight: bold;
}

.colorBackgroun {
  background-color: var(--green);
}

.allBlocks {
  background-color: var(--block2);
  color: var(--white);
}
/* FINALIZO */

/* habilidades */
.div-container-habilidad {
  width: 100%;
}
.bajo {
  position: relative;
  top: 5rem;
  height: auto;
  /* padding-bottom: 5rem; */
}
/* galería */
.div-img-habilidades {
  width: 100%;
  border-radius: 10px;
  background-color: var(--gry);
}
.div-img-habilidades img {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: var(--);
}
.imagen {
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 100%;

  transition: transform 0.3s ease-in-out;
}

.imagen img {
  max-width: 100%;
  height: 100%;
  border-radius: 5%;
  /* -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%; */
  border: 4px solid var(--white2);
  box-shadow: 0px 10px 14px rgba(0, 0, 0.2);
}

.imagen:hover {
  transform: scale(1.1);
}
/* termina galería */
.div-container-habilidad p {
  font-weight: bold;
  border: solid 2px rgb(0, 255, 8);
}
.habilida .barra-habilidades span {
  position: absolute;
  background-color: var(--green);
  color: var(--black);
  height: 3rem;
  width: 3rem;
  border-radius: 100px;
  line-height: 3rem;
  text-align: center;
  top: -1rem;
  right: -2px;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
}

.habilida .barra-habilidades {
  height: 20px;
  width: 60%;
  height: 10px;
  background-color: var(--white);
  border-radius: 50%;
  position: relative;
  top: 10px;
  margin-bottom: 30px;
}

.habilida .javascript {
  width: 0%;
  animation: 2s javascript forwards;
  -webkit-animation: 2s javascript forwards;
  width: 50%;
}
.habilida .progreso {
  background-color: var(--green);
  position: absolute;
  height: 10px;
  display: block;
  /* border: solid 2px red; */
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
.habilida .htmlcss {
  animation: 3s htmlcss forwards;
  -webkit-animation: 3s htmlcss forwards;
}

@keyframes htmlcss {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
/* 3 */
.habilida .bootstrap {
  width: 0%;
  animation: 2s bootstrap forwards;
  -webkit-animation: 2s bootstrap forwards;
}

@keyframes bootstrap {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
/* 4 */
.habilida .gitHub {
  width: 0%;
  animation: 2s gitHub forwards;
  -webkit-animation: 2s gitHub forwards;
}

@keyframes gitHub {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
.habilida .gitHub {
  width: 0%;
  animation: 2s gitHub forwards;
  -webkit-animation: 2s gitHub forwards;
}

@keyframes react {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

.habilida .react {
  width: 0%;
  animation: 2s react forwards;
  -webkit-animation: 2s react forwards;
}

@keyframes typescript {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}
.habilida .typescript {
  width: 0%;
  animation: 2s typescript forwards;
  -webkit-animation: 2s typescript forwards;
}
.deparar {
  gap: 3rem;
}
.progreso {
  width: 75%;
  background-color: #26c7b1;
  font-size: 2rem;
}
/* Estudios */
.contenido-section {
  position: relative;
  border-right: 15px solid var(--white);
  margin-right: 18px;
  margin-top: 1rem;
}
.contenido-sectiond {
  position: relative;
  margin-left: 18px;
  border-left: 15px solid var(--white);
  margin-top: 1rem;
  /* border: solid red 3px; */
}
.div-plataformas h3 {
  width: 100%;
  font-size: calc(0.6em + 0.5vw);
  color: var(--white);
  font-weight: bold;
}
/* .plataform{*/

.div-plataformas .plataform {
  width: 100%;
  color: var(--green);

  font-size: calc(0.5em + 0.5vw);
  font-family: "Archivo Black", sans-serif;
}
.conectores {
  height: 5px;
  background-color: var(--white);
  width: 50px;
  position: absolute;
  top: 50%;
  right: -50px;
}

.conectoresd {
  height: 5px;
  background-color: var(--white);
  position: absolute;
  width: 47px;
  top: 50%;
  left: -47px;
  z-index: 5;
}
.conectoresd .circulos {
  display: block;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: var(--white);
  float: left;
  position: relative;
  bottom: 4px;
}

.conectores .circulo {
  display: block;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: var(--white);
  float: right;
  position: relative;
  bottom: 4px;
}

.rowfhadher {
  gap: 5rem;
}
.gapDerecho {
  border-right: 3px solid var(--green);
}
.gapIzquierda {
  border-left: 3px solid var(--green);
}

.sectiNever {
  background-color: var(--gry);
}
/* espacio scrol */
.espacie-container {
  margin-top: 8rem;
  margin-bottom: 5rem;
  padding: auto;
}
/* galeria */

.galeria {
  position: relative;
  max-width: 100%;
  height: 340px;
  margin: 10px;
  cursor: pointer;

  background-color: var(--green);
}
.overlay {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgb(20, 23, 26);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
  color: var(--white);
  /* font-size: 2rem; */

  letter-spacing: 4px;
  opacity: 0;
}
.galeria .overlay:hover {
  opacity: 1;
}
.overlay:hover h2 {
  margin-bottom: 0px;
  transition: 2s;
  line-height: 3rem;
  border: solid #18aaf8;
}
.galeria img {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  object-fit: cover;
}
.overlay a {
  color: #1c1a1b;
  text-decoration: none;
  font-size: 1rem;
}
.overlay span {
  font-size: 1.5rem;
}
.letra {
  color: var(--white);
  background-color: var(--green);
  border: solid #18aaf8;
}

.footer {
  background-color: var(--gry);
  font-size: 2.5rem;
  padding: 4rem;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  color: aliceblue;
  font-size: 3rem;
}
.icons i {
  color: var(--white);
  font-size: 5rem;
}
.infomacion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: var(--white);
}
/* condigo nueno */
.divcontinerImg {
  display: inline-block;
  margin: 10px;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  overflow: hidden; /* Para que la animación de color funcione correctamente */
  position: relative;
}
.divcontinerImg img {
  max-width: 100%;
  max-height: 100vh;
}
.divcontinerImg:hover {
  transform: scale(1.05);
  background-color: var(--black);
}

.divcontinerImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(10, 71, 71); /* Color de fondo inicial */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.divcontinerImg:hover::before {
  opacity: 1;
}
.divcontainerText {
  background-color: var(--gry);
  padding: 2rem;
  margin-top: 2rem;
  padding-right: 2rem;
}

.textfoton h3 {
  font-size: calc(0.5em + 0.5vw);
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  /* border: solid red; */
  font-family: "Archivo Black", sans-serif;
}
.divcontainerText strong {
  color: var(--green);
  font-family: "Archivo Black", sans-serif;
}
.divcontainerText h3 {
  width: 100%;
  font-size: calc(0.6em + 0.4vw);
  color: var(--white);
  font-weight: bold;
}

.divcontainerText .objetivo {
  color: var(--white2);
  font-weight: bold;
  font-size: calc(0.6em + 0.4vw);
  font-family: "Archivo Black", sans-serif;
}

/* boton proyecto */
.boton-ovalado {
  background-color: var(--green);
  border: none;
  border-radius: 50px;
  color: var(--gry);

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(0.6em + 0.4vw);
  margin: 10px 2px;
  cursor: pointer;
  width: 30%;
}
.boton-ovalado:hover {
  background-color: var(--green);
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
.div-botones-cv-spa {
  width: 100%;
}
/* boton de pied para ver mas proyectos */
.botonVerMasProyecto{
  width: 300px;
  padding: 20px;
  text-align: center;
 
  font-family: "EB Garamond", serif;
}
.botonVerMasProyecto button{
  width: 100%;
  color: var(--black);
  font-size: 30px;
 
}
.linkVolverDefault a {
  font-family: "EB Garamond", serif;
  text-decoration: none;
  color: var(--green);

  margin-left: 30px;
}
