@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* font-family: "Bebas Neue", sans-serif; */
  margin: 0;
  padding: 0;
}
body {
  /* font-size: calc(0.7em + 0.7vw); */
  /* overflow: hidden; */
  font-size: 1rem;
}
html {
  /* font-size: 62.5%; */
  font-size: 16px;
  scroll-behavior: smooth;
}
p {
  font-size: 1.3rem;
}
.h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: var(--blanco);
  font-size: 1.5rem;
}
.buton {
  background-color: var(--verde);
  color: var(--gris);
  font-size: 1.5rem;
  font-family: "Roboto Condensed", sans-serif;
}
.title {
  color: var(--blanco);
  font-size: 2rem;
  font-weight: bold;
  font-family: "EB Garamond", serif;
}
/* nuevo habilidades */

.deparar {
  gap: 3rem;
}
.habilida .progreso {
  background-color: var(--verde);
  position: absolute;
  height: 10px;

  display: block;
}
/* nuevo habilidades */

.linea {
  /* border: solid 3px var(--verde); */
  color: var(--verde);
}
.container-abaut {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.linea2 {
  border-left: 5px solid var(--verde);
  padding-left: 8px;
}

.decoraImg {
  width: 100%;
  background-color: var(--gris);
  height: 60%;
}
.text {
  color: var(--verde);
  font-size: calc(0.6em + 0.6vw);
}
/*nuevo*/
.containerGeneral {
  color: var(--blanco);
  background-color: #393e46;
}
.colorfondo {
  background-color: var(--gris);
}
:root {
  --verde: #26c7b1;
  --negro: #21242a;
  --gris: #2e353e;
  --morado: #ae8fdb;
  --blanco: #f6f4f6;
  --naraja: #d9534f;
  --amartillo: #fef8b4;
}
.imgfondo {
  background-image: linear-gradient(
      to top,
      rgba(27, 28, 28),
      rgba(16, 17, 17, 0.4)
    ),
    url(../img/imagen.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-img {
  display: flex;
  color: var(--blanco);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.div-img img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 3px solid var(--blanco); /* Color del borde */
  box-shadow: 0px 10px 14px rgba(0, 0, 0.2);
}
.imagen2 img {
  width: 100%;
  height: 100%;
  border: 2px solid var(--blanco); /* Color del borde */
  box-shadow: 0px 10px 14px rgba(0, 0, 0.2);
}
.div-contain-text h1 {
  /* color: var(--verde); */
  font-size: 5rem;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}
.funcional {
  font-family: "EB Garamond", serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Prompt", sans-serif;
}

/* SOBRE MI */
.sobre {
  /* background-color: #393e46; */
  font-size: 2.5rem;
  padding: 4rem;
  color: var(--blanco);
}

.iconos {
  font-family: "Roboto Condensed", sans-serif;
  font-size: calc(1em + 1vw);
  /* gap: 10px;
  color: var(--verde); */
}

.holaSoytorco {
  font-weight: bold;
  font-size: 3rem;
  font-family: "Bebas Neue", sans-serif;
}
.iconos {
  width: 100%;
  font-size: 1.6rem;
}

/* hablidades */
.habilida .barra-habilidades {
  height: 20px;
  width: 60%;
  height: 10px;
  background-color: var(--blanco);
  border-radius: 50%;
  position: relative;
  top: 10px;
  margin-bottom: 30px;
}

.habilida .barra-habilidades span {
  position: absolute;
  background-color: var(--verde);
  color: var(--negro);
  height: 3rem;
  width: 3rem;
  border-radius: 100px;
  line-height: 3rem;
  text-align: center;
  top: -1rem;
  right: -2px;
  font-size: 1rem;
  text-align: center;
  border-radius: 50%;
}
.habilida .javascript {
  width: 0%;
  animation: 2s javascript forwards;
  -webkit-animation: 2s javascript forwards;
  width: 50%;
  /* background-color: #4682a9; */
}
@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
.habilida .htmlcss {
  animation: 3s htmlcss forwards;
  -webkit-animation: 3s htmlcss forwards;
  /* background-color: #4682a9; */
}
@keyframes htmlcss {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
/* 3 */
.habilida .bootstrap {
  width: 0%;
  animation: 2s bootstrap forwards;
  -webkit-animation: 2s bootstrap forwards;
}

@keyframes bootstrap {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
/* 4 */
.habilida .gitHub {
  width: 0%;
  animation: 2s gitHub forwards;
  -webkit-animation: 2s gitHub forwards;
}

@keyframes gitHub {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

/* 5 */
.habilida .react {
  width: 0%;
  animation: 2s react forwards;
  -webkit-animation: 2s react forwards;
}

@keyframes react {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
.habilida .typescript {
  width: 0%;
  animation: 2s typescript forwards;
  -webkit-animation: 2s typescript forwards;
}

@keyframes typescript {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}
/* KEYFRAMES DERECHO */

/* 1  COMUNICACIONES*/
.habilida .comunicacion {
  width: 0%;
  animation: 2s comunicacion forwards;
  -webkit-animation: 2s comunicacion forwards;
}

@keyframes comunicacion {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
/* 2 EQUIPO*/

.habilida .equipo {
  width: 0%;
  animation: 2s equipo forwards;
  -webkit-animation: 2s equipo forwards;
}

@keyframes equipo {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
/* 3 CREATIVIDAD */
.habilida .creativid {
  width: 0%;
  animation: 2s creativid forwards;
  -webkit-animation: 2s creativid forwards;
}

@keyframes creativid {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
/* 4 DEDICACION*/
.habilida .dedicacio {
  width: 0%;
  animation: 2s dedicacio forwards;
  -webkit-animation: 2s dedicacio forwards;
}

@keyframes dedicacio {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
/* PROYECTOS */
.habilida .proyecto {
  width: 0%;
  animation: 2s proyecto forwards;
  -webkit-animation: 2s proyecto forwards;
}

@keyframes proyecto {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

/* CURRICULUM  */
/* nuevo */
.sectiNever {
  background-color: var(--gris);
}
/*  */

.fecha {
  font-size: 1.6rem;
}

.contenido-section {
  position: relative;
  border-right: 15px solid var(--blanco);
  margin-right: 18px;
  margin-top: 1rem;
}

.contenido-sectiond {
  position: relative;
  margin-left: 18px;
  border-left: 15px solid var(--blanco);
  margin-top: 1rem;
}
.conectores {
  height: 5px;
  background-color: var(--blanco);
  width: 50px;
  position: absolute;
  top: 50%;
  right: -50px;
}
.conectoresd {
  height: 5px;
  background-color: var(--blanco);
  position: absolute;
  width: 47px;
  top: 50%;
  left: -47px;
  z-index: 5;
}

.conectoresd .circulos {
  display: block;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: var(--blanco);
  float: left;
  position: relative;
  bottom: 4px;
}
.conectores .circulo {
  display: block;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: var(--blanco);
  float: right;
  position: relative;
  bottom: 4px;
}
/* lineas */
.rowfhadher {
  gap: 5rem;
}
.gapDerecho {
  border-right: 3px solid var(--verde);
}
.gapIzquierda {
  border-left: 3px solid var(--verde);
}
/* MI PROYECTOS */

.galeria {
  position: relative;
  max-width: 100%;
  height: 340px;
  margin: 10px;

  cursor: pointer;

  /* background-color: var(--blanco); */
}
.overlay {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgb(20, 23, 26);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
  font-size: 2rem;
  letter-spacing: 4px;
  opacity: 0;
}
.galeria .overlay:hover {
  opacity: 1;
}
.overlay:hover h2 {
  margin-bottom: 0px;
  transition: 2s;
  line-height: 3rem;
}
.galeria img {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  object-fit: cover;
}
.overlay a {
  color: #1c1a1b;
  text-decoration: none;
  font-size: 1rem;
}
.overlay span {
  font-size: 1.5rem;
}
.footer {
  background-color: #393e46;
  font-size: 2.5rem;
  padding: 4rem;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  color: aliceblue;
  font-size: 3rem;
}
.icons i {
  color: aliceblue;
  font-size: 5rem;
}
.infomacion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: aliceblue;
}
