@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;600;800&display=swap");
* {
  box-sizing: border-box;
  font-family: "Work Sans";
  margin: 0;
  padding: 0;
}
body {
  font-size: calc(0.5em + 0.5vw);
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
/* HEADER LISTA */
.navbar {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}
/* botón responsive */
.navbar-toggler {
  background-color: #da985a;
}
.color {
  color: #f9f8f7;
  text-decoration: none;
  padding: 0px;
  margin: 10px;
}
.color.active {
  color: #da985a;
}
.color:hover {
  color: #da985a;
}
.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
/* CUERPO PAGINA */

/* img grande de fondo */

.container-img-grande {
  background-image: linear-gradient(
      to top,
      rgba(30, 35, 38, 0.8),
      rgb(30, 35, 38, 1)
    ),
    url(../img/index2.jpg);
  background-size: cover;
  height: 100vh;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* IMG REDONDA */
.container-img-grande .container-img-pequena {
  padding: 3rem;
  background-color: #1e2326;
  height: 70vh;
  max-width: 450px;
  margin: auto;
  align-items: center;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

.container-img-pequena img {
  margin-top: 4rem;
  border: 10px solid #da985a;
  display: block;
  flex-direction: column;
  width: 80%;
  margin: auto;
  border-radius: 100%;
  overflow: hidden;
  object-fit: cover;
  height: 200px;
  width: 200px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.container-img-pequena h1 {
  margin-top: 4rem;
  font-size: 3rem;
  font-family: "Righteous";
}
.container-img-pequena h2 {
  font-size: 1.3rem;
  font-family: normal;
}
.container-img-pequena .redes-sociales {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-img-pequena .redes-sociales a {
  color: #d6d0d1;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border: 1px solid #d6d0d1;
  line-height: 42px;
  border-radius: 100%;
  font-size: 2rem;
  margin: 4rem 1rem;
  text-align: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.container-img-pequena .redes-sociales a:hover {
  background-color: #da985a;
  color: #1a1211;
}
/* ////// */
/* SECTION  S O B R E  M I */

.sobremi {
  background-color: #1e2326;
  color: #d6d0d1;
  padding: 50px 20px;
  font-size: 1.6rem;
}
.sobremi h2 {
  font-size: 4rem;
  font-family: "Righteous";
  text-align: center;
  padding: 2rem 0;
  font-weight: bold;
}
.sobremi .container-sobre-mi {
  max-width: 1100px;
  margin: auto;
}

.sobremi .container-sobre-mi p {
  font: 2rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.sobremi .container-sobre-mi p span {
  color: #da985a;
  font-weight: bold;
}
.sobremi .fila .col {
  width: 50%;
  font-family: "Righteous";
}
.sobremi .fila {
  display: flex;
}

.sobremi .fila .col h3 {
  font-size: 2.5rem;
  /* font-size: calc(1em + 1vw); */
  font-family: "Righteous";
  margin-bottom: 2.5rem;
  font-weight: bold;
}
.sobremi .fila .col ul {
  list-style: none;
}
.sobremi .fila .col ul li {
  margin: 1.2rem 0;
}

.sobremi .fila .col ul li strong {
  display: inline-block;
  color: #da985a;
  width: 130px;
}

.sobremi .fila .col ul li span {
  background-color: #da985a;
  padding: 0.3rem;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* entereses */
.sobremi .fila .col .container-intereses {
  display: flex;
  flex-direction: wrap;
}
.sobremi .fila .col .container-intereses .interes {
  width: 100px;
  height: 100px;
  background-color: #1a1211;
  margin: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.sobremi .fila .col .container-intereses .interes:hover {
  background-color: #da985a;
}
.sobremi .fila .col .container-intereses .interes i {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.sobremi button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #fff;
  width: fit-content;
  display: block;
  margin: 2rem auto;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: #fff;
  position: relative;
  z-index: 1;
}
.sobremi button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #da985a;
  z-index: -1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.sobremi button:hover .overlay {
  width: 100%;
}
/* SECTION DE HABILIDADES */
.habilidades {
  background-color: #1e2326;
  color: #d6d0d1;
  padding: 50px 20px;
  /* font-size: 1.6rem; */
}
.habilidades h2 {
  font-size: 4rem;
  font-family: "Righteous";
  text-align: center;
  padding: 2rem 0;
  font-weight: bold;
}
.habilidades .container-habilidades {
  max-width: 1100px;
  margin: auto;
}
/* hh */
.habilidades .fila {
  display: flex;
}

.habilidades .fila .col {
  width: 50%;
  padding: 0 20px;
}
.habilidades .fila h3 {
  font-size: 2rem;
  /* font-size: calc(1em + 1vw); */
  font-family: "Righteous";
  margin-bottom: 2.5rem;
  font-weight: bold;
}
.habilidades .habilida > span {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}
.habilidades .habilida .barra-habilidades {
  height: 8px;
  width: 60%;
  background-color: #1a1211;
  position: relative;
  margin-bottom: 30px;
}
.habilidades .habilida .progreso {
  background-color: #da985a;

  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
}
.habilidades .habilida .barra-habilidades span {
  position: absolute;
  background-color: #da985a;
  height: 40px;
  width: 4rem;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  line-height: 4rem;
  text-align: center;
  top: -2rem;
  right: 2rem;
  font-size: 1.6rem;
}

.habilidades .habilida .javascript {
  width: 0%;
  animation: 2s javascript forwards;
  -webkit-animation: 2s javascript forwards;
}
/* con javascrip */
@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
.paleta {
  color: #da985a;
  color: #4f430e;
  color: #8ec4bf;
  color: #55778c;
}
.paleta2 {
  color: #a57c69;
  color: #1a1211;
  background-color: #1e2326;
  color: #d6d0d1;
  color: #5c3327;
}
