/* Reset and Base Styles */
/* Codigo todo la pagina */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-fondo);
  color: var(--charcoal);
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;

}

:root {
  --color-fondo: #E1DED8;
  --mustard-yellow: #B17457;
  --charcoal: #5f5e5d;
  --sky-blue: #fff;
  --mustard-pink: #cea592;
  --basico-color: #A7D948; 
  --intermedio-color: #FFC107;
  --avanzado-color: #E74C3C;
}


/* Manejado con javascript */

.nav-link.active-link::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* clases de base para aplicación */
p {
  font-size: 18px;
  color: var(--charcoal);
  line-height: 1.2;
}

/* color títulos */
.color-text-title-primario {
  color: var(--mustard-yellow);
  text-decoration: none;
}


/* color primario */
.color-text-primary {
  color: var(--mustard-yellow);
}

/* color negro texto */
.color-text-dark {
  color: var(--charcoal);
}

/* color texto blanco */
.color-text-white-fondo {
  color: var(--color-fondo);
}

.text-fondo-color {
  color: var(--color-fondo);
}

.background-white-fondo {
  background-color: var(--color-fondo);
}

.background-primary-fondo {
  background-color: var(--mustard-yellow);
}

/* sesión de body pagina  */

section {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;

}

/* estilos de scroll */
.section-inicio,
.section-experiencia,
.section-galeria,
.section-estudios,
.section-habilidades,
.section-contacto {
  scroll-margin-top: 100px;
  margin-top: 60px;
}

/* Asegura que el contenido no se apile */
section h2,
section p {
  margin: 10px 0;
}

.section-inicio {
  position: relative;
  background-image: url('../img/fondoIn3.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.section-inicio::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(7, 7, 7, 0.5);
  z-index: 1;

}

/* estilos header */
.navContainer {
  background-color: var(--color-fondo);
  padding: 1rem;
  color: var(--charcoal);
  margin-bottom: 2rem;
  /* width: 80%; */
}

.nav-link {
  text-decoration: none;
  position: relative;
  padding-bottom: 2px;
  font-size: 18px;
}



/* Animación del linead lista */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--mustard-yellow);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* SECCIÓN INICIO */

/* estilos de primer sección*/
.container-image {
  width: 500px;

}

/* estilos del button  */
.btn-ovalado {
  background-color: var(--mustard-yellow);
  color: var(--color-fondo);
  border-radius: 30px;
  padding: 10px 30px;
  font-weight: 600;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  text-decoration: none;
  border: solid 2px transparent;
}

.btn-ovalado:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
  background-color: var(--mustard-pink);

}

.btn-certificado {
  margin-top: 40px;
  margin-bottom: 30px;
}

/* SECCIÓN ESTUDIOS */


/* IMG FONDO ESTUDIO*/
.section-estudios {
  position: relative;
  background-image: url('../img/fondoIn2.jpg');

  background-size: cover;
  background-position: center;

  color: var(--color-fondo);
}

.section-estudios::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(7, 6, 6, 0.8);
  z-index: 1;

}

.section-estudios .container {
  position: relative;
  z-index: 2;

}

.graficos-habilidad {
  max-width: 600px;
  margin: auto;
  background-color: var(--color-fondo);
  padding: 20px;

  border-radius: 8px;

  text-align: center;
}





/* SECCIÓN PROYECTOS */


/* seccion modal */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 25px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.projects-grid img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;

}

.gallery-item:hover img {
  transform: scale(1.05);

}

.modal img {
  max-width: 100%;
  height: auto;
}

/* Texto superpuesto al pasar el mouse */
.overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1.5rem;
  background-color: rgba(12, 12, 12, 0.9);
  padding: 10px 20px;
  border-radius: 8px;
  opacity: 0;
  text-align: center;
  display: flex;
  color: var(--color-fondo);
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.gallery-item:hover .overlay-text {
  opacity: 1;
}

/* Modal styles proyectos */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(16, 17, 17, 0.9);

}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 40px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
}



.close {
  color: var(--mustard-yellow);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: var(--charcoal);
}

/* imgenes del proyecto */
.projects-grid {
  height: auto;
}
/* SECTION DE HABILIDADES */
.section-habilidade{
  position: relative;
  /* background-image: url('../img/fondoIn2.jpg'); */

  background-size: cover;
  background-position: center;

  /* color: var(--color-fondo); */
}


.section-habilidade::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(7, 6, 6, 0.8);
  z-index: 1;

}
.habilidades-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 20px;
}
.color-vue{
  color: #08c384;
}
.color-react{
  color: #61dafb;
}
.color-js{
  color: #f0db4f;
}
.color-html{
  color: #e44d26;
}
.color-css{
  color: #3b82f6;
}
.color-node{
  color: #08c35c  ;
}
.color-bootstrap{
  color: #7952b3;
}
.color-basico{
  color: var(--basico-color);
}
.color-intermedio{
  color: var(--intermedio-color);
}
/* .habilidad {
  background-color: var(--mustard-yellow);

  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  border-radius: 10px;
color: #E1DED8;
  /* transition: background-color 0.3s ease, transform 0.3s ease; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
} */
.habilidad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--mustard-yellow); /* Fondo blanco */
  padding: 20px;
  color: var(--sky-blue);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.habilidad:hover {
  transform: scale(1.05); /* Efecto hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.habilidad i {
  font-size: 50px;
  /* color: var(--mustard-yellow); */
  margin-bottom: 10px;
}

.habilidad h3 {
  font-size: 18px;
  /* color: var(--charcoal); */
  margin-bottom: 5px;
  font-weight: 600;
}

.habilidad p {
  font-size: 14px;
  /* color: var(--charcoal); */
}



@media (max-width: 768px) {
  .habilidades-grid {
    grid-template-columns: 1fr 1fr;
  }
}


/* Footer */

.imgFooter {
  position: relative;
  background-image: url("../img/imgfondo6.jpg");
  background-size: cover;
  background-position: center;
  /* height: 40vh; */
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 0;
}

.imgFooter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(8, 8, 8, 0.7);

  z-index: 1;
}

.icon-link {
  display: inline-block;
  width: 80px;

  height: 80px;

  background-color: rgba(255, 255, 255, 0.2);
  /* Light background for icons */
  border-radius: 50%;
  /* Makes the icon circular */
  display: grid;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;

  margin-bottom: 8px;
}

.icon-link a {
  text-decoration: none;
  color: var(--sky-blue);
  display: grid;
}

.icon-link:hover {
  transform: scale(1.1);
  /* Slightly enlarge the icon on hover */
}

.container {
  position: relative;
  /* Ensure container is above the overlay */
  z-index: 2;
}




